* {
	border-width: 4px;
	font-family: sans;
}

body {
	margin: 0;
	padding: 6pt;
}

h1 {
	width: 100%;
	text-align: center;
}

h2 {
	margin: 0;
}

iframe {
	display: block;
	margin: 12pt 0 12pt 0;
	border-width: 6pt;
	border-color: unset;
	width: calc(100% - 2*(6pt));
	/* For slidwhows */
	aspect-ratio: 14/9;
}

.logo {
	aspect-ratio: 1;
	height: 24pt;
}

#main-wrapper {
	margin: auto;
	display: flex;
	max-width: 720px;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	align-items: stretch
}

#main-wrapper > * {
	margin: 1.5px;
	outline-style: solid;
}

#content {
	padding: 16pt;
	min-width: min(360px, 85vw);
	flex: 3;
}

#navbar {
	padding: 0 0 8pt 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	flex-wrap: nowrap;
	min-width: 6em;
}

#navbar > li {
	list-style: none;
	flex: 1;
	margin: 6pt 12pt 6pt 12pt;
	max-height: 16pt;
	font-size: 14pt;
	text-decoration: none;
}

#account-list > li {
	margin: 4pt;
	list-style: none;
}

#account-list > li > a {
	text-decoration: none;
}

#account-list > li > a > * {
	vertical-align: middle;
}
