<html>
	<head>
		<link rel="stylesheet" href="style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% block header %}{% endblock %}
	</head>
	<body>
		<div id="main-wrapper">
			<ul id="navbar" role="navigation">
				<li><a href="about/index.html">about me</a></li>
				<li><a href="projects/index.html">projects</a></li>
				<li><a href="teaching/index.html">teaching</a></li>
				<li><a href="links/index.html">links</a></li>
			</ul>
			<div id="content" role="main">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
